.TaskForm {
    display: inline-block;
    margin: 10px 20px;
}
.form {
    height: 35px;
    width: 300px;
    outline: none;
    border: 2px solid #e3e3e3;
    border-radius: 5px;
}
.formButton {
    background-color: cornflowerblue;
    height: 40px;
    border: none;
    padding: 0 20px;
    border-radius: 5px;
    margin-left: 5px;
    color: #fff;
}